{% extends "base.html" %}
{% block title %}
	签到统计
{% endblock title %}
{% block content %}
	<div class="containter">
		{% if finish_list %}
			<div class="row text-center">
				<h2>往期课程</h2>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>课程名称</th>
								<th>课程时间</th>
								<th>签到人次（签到和签离共计）</th>
								<th>查看统计</th>
							</tr>
						</thead>
						<tbody>
							{% for c in finish_list %}
								<tr>
									<td>{{ c.name }}</td>
									<td>{{ c.startTime|date:"Y-m-d H:i:s" }}</td>
									<td>{{ c.num_records }}</td>
									<td><a href="/recordlist/?courseId={{ c.id }}">点击查看</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock content %}